* {
    box-sizing: border-box;
}

body {
    background-color: #76ccff;
    height: 98vh;
    width: 98vw;

    padding: 0;
    margin: 0;

}

.wrapper {
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;


}